.schedulecontainer{
    background-color: #020f1f;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}
.schedulecontainer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 20% 40%, rgba(0, 255, 255, 0.06), transparent 70%),
              radial-gradient(circle at 80% 70%, rgba(255, 0, 255, 0.06), transparent 70%);
  z-index: 0;
  pointer-events: none;
}

.scheduletitle{
    /* width: 100vw;
    margin: auto; */
    text-align: center;
    color: aquamarine;
    text-shadow: rgb(230, 230, 230) 0px 0px 5px;
    font-size:30px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
    margin-bottom: 6vh;
    margin-top: 7vh;
}
*{
    /* outline: 1px solid lime; */
}
.allcontainer{
    width: 150vw;
    display: flex;
    gap: 3%;
    padding: 20px;
    overflow: visible;
    /* margin-bottom: 10vh; */
}

.timelimit{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.detailcont{
    height: 68vh;
width: 35%;
display: flex;
flex-direction: column;
gap: 25px;
align-items: center;
}
.timecontainer{
    width: 100%;
    height: 90%;
    border: 2px solid #00f0ff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 6% 0.3%;
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.85), rgba(10, 10, 25, 0.95));
    box-shadow: 0 0 15px 4px #245f44, inset 0 0 10px 2px #00f0ff;
    /* backdrop-filter: blur(5px); */
    text-align: center;
    transition: transform 0.3s ease; 
}
.timecontainer:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px 8px #245f44,inset 0 0 15px 3px #00f0ff;
}
.timetitle{
    /* width: 100vw; */
    text-align: center;
    color: #df6666;
    font-size: 30px;
    /* letter-spacing: 1px; */
    font-weight: bold;
    text-shadow: 0px 0px 20px #df6666;
    font-family: "League Spartan",sans-serif;
}
.card{
    color: rgb(178, 233, 185);
    /* color: #556872; */
    font-size: 20px;
    width: 98%;
    min-height: 90%;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    line-height: 1.5; 
    font-family: Poppins;
}

