*{
    /* outline: 1px solid lime; */
}
.herocontainer{
    background-image: url("../../assets/hllo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    position: relative;
    animation: bgZoom 15s infinite ease-in-out;
}
.cursor-light{
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.4) 0%, transparent 30%);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    opacity: 0;
    transition: opacity 0.2s ease, left 0.1s linear, top 0.1s linear;
    z-index: 2;
}
@keyframes bgZoom {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 130%;
  }
  100% {
    background-size: 100%;
  }
}
.content{
    margin-top: 7%;
    display: flex;
    gap: 10%;
    justify-content: center;
    width: 80%;
    height: max-content;
    position: relative;
    z-index: 3;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
}
.left *{
    font-family: "League Spartan",sans-serif;
}
.title{
    color: #ff7575;
    font-size: 40px;
    font-weight: bold;
    
}

@keyframes opac{
    0%{
        opacity:1;
    }
    50%{
        opacity:0.5;
    }
    100%{
        opacity:1;
    }
}
.subtitle{
    color: #e789e7;
    font-size: 30px;
    animation: opac 3s infinite ease-in-out;
    font-weight: 600;
}
.desc{
    font-size: 20px;
    color: #f5cec9;
    width: 90%;
    font-weight: 500;
}
.version{
    width: 90%;
    animation: opac 3s infinite ease-in-out;
}
.name{
    color: rgb(255, 244, 225);
    text-shadow: rgb(230, 230, 230) 0px 0px 10px;
    font-size: 45px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
}

.right{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upper{
    animation: color 0.8s ease-in-out 1.5s infinite;
    /* font- */
}
.lower{
    animation: color 0.8s ease-in-out 1.9s infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@keyframes color{
    0%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

.register{
    font-size: 30px;
    color: #51fb60;
    font-weight: 600;
    font-family: "League Spartan",sans-serif;
}
.btn{
    font-size: 15px;
    background-color: #1d1d39;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    font-weight: 600;
}
