.gallerycontainer{
    width: 100%;
    min-height: 100vh;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
    background-color: black;
}
.gallerytitle{
    color: aquamarine;
    font-size:30px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
    margin-bottom: 5vh;
    text-shadow: rgb(230, 230, 230) 0px 0px 5px;
}
.gallery{
    display: flex;
    gap: 0px;
    row-gap: 0px;
    justify-content: center;
    height: 70vh;
    /* padding: 100px 0px; */
}
.item{
    width:30vw;
    height: 100%;
    border-radius: 15px;
    position: relative;
}
.item img{
    /* width: 110%;
    height: 110%; */
    object-fit: cover;
}