*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid lime; */
}
.contactcontainer{
    width: 100%;
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
    background-color: #370812;
    /* background: linear-gradient(to bottom, #370812,#892852); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactcontainer img{
    width: 40px;
}
.leftcontacts,
.rightcontacts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.heading{
    color: rgb(137 123 226);
    font-size: 40px;
    font-weight: bold;
}
.cdetailcont{
    display: flex;
    gap: 15px;
    width: 60%;
}
.cdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}