.navcontainer{
    font-family: "StateWide",sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8vh;
    background: linear-gradient(to right,#181516 0%,#6196A2 50%,#1A1816 100%);
}
.istelogo{
    width: 110px;
}
.nav ul{
    display: flex;
    gap: 41px;
}
.nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-weight: bold;
}
