.navcontainer{
    font-family: "StateWide",sans-serif;
    width: 100%;
    margin-top: 2vh;
    /* background: linear-gradient(to right,#181516 0%,#6196A2 50%,#1A1816 100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
}
.navcontent{
    width: 80%;
    /* padding: 20px; */
    background-color: rgba(103, 130, 246, 0.29);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.istelogo{
    width: 80px;
}
.nav ul{
    display: flex;
    gap: 41px;
}
.nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
