*{
    /* outline: 1px solid lime; */
}
.navcontainer{
    font-family: "StateWide",sans-serif;
    width: 100%;
    margin-top: 3.1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    position: fixed;
}
.navcontent{
    width: 80%;
    /* padding: 20px; */
    background-color: rgba(103, 130, 246, 0.29);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background: rgba(255, 255, 255, 0.1);  /* transparent white */
  backdrop-filter: blur(5px);          /* blur the background behind */
  -webkit-backdrop-filter: blur(10px);  /* for Safari */
  border: 1px solid rgba(255, 255, 255, 0.2); /* subtle border */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.istelogo{
    width: 90px;
    /* transform: scale(2); */
}
.nav ul{
    display: flex;
    gap: 41px;
}
.nav ul li{
    list-style: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}
/* media queries */
@media screen and (max-width:1168px){
    .navcontent{
        width: 93%;
    }
}