.sponsorscontainer{
    width: 100%;
    background:linear-gradient(to bottom, black, #0b0b08);
    min-height: 100vh;
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sponsorstitle{
    color: aquamarine;
    font-size:30px;
    font-weight: bold;
    font-family: "StateWide",sans-serif;
    margin-bottom: 15vh;
    text-shadow: rgb(230, 230, 230) 0px 0px 5px;
}
.sponsors-marquee{
    width: 200%;
    overflow: hidden;
    /* padding: 20px 0px; */
} 
.sponsors{
    display: flex;
    flex-wrap: wrap;
    gap: 20vh;
    /* overflow: hidden; */
    white-space: nowrap;
    align-items: center;
    animation:scroll 15s linear infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-25%);
    }
}
.img{
    width: 200px;
}